	<!-- GAME CANVAS -->
	<div id="canvas_container" class="position-relative">
    <div class="overlay d-none">
      <h3 class="overlay_title">level up!</h3>
      <time class="overlay_countdown"></time>
    </div>
	</div>
	<!-- /GAME CANVAS -->
