<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta http-equiv='x-ua-compatible' content='ie=edge'>

  <title>
    {{ site.title }}
  </title>

  <link rel='shortcut icon' href='{{ site.baseurl}}/assets/img/favicon.ico'  type='image/x-icon'>
  
  <link rel='stylesheet' href='{{ site.baseurl}}/assets/css/vendor/font-awesome.min.css'>
  <link rel='stylesheet' href='{{ site.baseurl}}/assets/css/vendor/bootstrap/bootstrap-grid.min.css'>
  <link rel='stylesheet' href='{{ site.baseurl}}/assets/css/vendor/bootstrap/bootstrap-utilities.min.css'>

  <link rel='stylesheet' href='{{ site.baseurl}}/assets/css/main.css'>
</head>
