<!-- GAME TOP PANEL -->
<div class="panel sticky-top">
  <div class="level">
    <h4>Level</h4>
    <span class="level-number">0</span>
  </div>
  
  <div class="lives">
    <h4>Vidas</h4>
    <div id="lives_container"></div>
  </div>

  <div class="score">
    <h4>Pontuação</h4>
    <span class="points">0</span>
  </div>
  {% include progress.html %}
</div>
<!-- /GAME TOP PANEL -->
