<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {{ content }}

    <script src="{{ site.baseurl}}/assets/js/resources.js"></script>
    <script src="{{ site.baseurl}}/assets/js/engine.js"></script>
    <script src="{{ site.baseurl}}/assets/js/reciclus.js"></script>
    <script src='{{ site.baseurl}}/assets/js/main.js'></script>
  </body>
</html>
