$fonts: $baseurl + '/assets/fonts';
$fontawesome: $fonts + '/fontawesome';

@font-face {
  font-family: 'Editundo';
  src: url($fonts + '/editundo.ttf')
}

@font-face{
  
  font-family:'FontAwesome';
  
  src: url($fontawesome + '/fontawesome-webfont.eot');
  src: url($fontawesome + '/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
      url($fontawesome + '/fontawesome-webfont.woff2') format('woff2'),
      url($fontawesome + '/fontawesome-webfont.woff') format('woff'),
      url($fontawesome + '/fontawesome-webfont.ttf') format('truetype'),
      url($fontawesome + '/fontawesome-webfont.svg#fontawesomeregular') format('svg');
      
  font-weight:normal;
  font-style:normal
}
